.box {
        background-color: 'white';
        color: 'lightblue';
        font-weight: 'bold';
        margin-top: '25px';
        border: 'none';
        padding: '10px';
        margin-bottom: 'lighblue'
    }
    .box :hover {
        border: '1px solid white';
        background-color: 'lightblue';
        color: 'white'
    }